.app {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.app__cricket {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 10px;
}

.app__cricket > button {
  height: 40px;
  background-color: #0075ff;
  color: white;
  border: none;
  outline-width: 0;
}

.app__cricket > button:hover {
  cursor: pointer;
}

.app__football {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
}

.app__football > button {
  height: 40px;
  background-color: #0075ff;
  color: white;
  border: none;
  outline-width: 0;
}

.app__football > button:hover {
  cursor: pointer;
}

.cricketVotes {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid black;
}

.cricketVotes > h1 > label {
  margin-right: 5px;
}

.footballVotes {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.footballVotes > h1 > label {
  margin-right: 5px;
}
